<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>View All-CCTV | Biz-Ethics LTD</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/prettyPhoto.css" rel="stylesheet">
    <link href="/styles/price-range.css" rel="stylesheet">
    <link href="/styles/animate.css" rel="stylesheet">
	<link href="/styles/main.css" rel="stylesheet">
	<link href="/styles/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">

    <style>
.dropdown-submenu {
    position:relative;

}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:1px;
    margin-left:0.5px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
    background: rgba(0, 0, 0, 0.6);

}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
     -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;

}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
</style>

</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2348149240238</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@bizethics.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="/images/home/bizethicslogo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="/user/new"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li class="dropdown-submenu"><a href="#">Products</i></a>
                                        	<ul class="dropdown-menu">
                                        		<li><a href="/product/viewAll">Wireless</a></li>
												<li><a href="/product/viewAll">Connectors</a></li> 
												<li><a href="/product/viewAll">Converters</a></li>
												<li><a href="/product/viewAll">Inverters</a></li>
												<li><a href="/product/viewAll">Cameras</a></li>
												<li><a href="/product/viewAll">Routers/Switches</a></li>
												<li><a href="/product/viewAll">Tools</a></li>
												<li><a href="/product/viewAll">Telephony</a></li>
												<li><a href="/product/viewAll">AVS and Surge Protector</a></li>
												<li><a href="/product/viewAll">Solar Panels</a></li>

                                        	</ul>
                                        </li>
										<!-- <li><a href="product-details.html">Product Details</a></li>  -->
										<li><a href="#">Checkout</a></li> 
										<li><a href="#">Cart</a></li> 
										<!-- <li><a href="login.html">Login</a></li>  -->
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Brands<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/product/viewAll">Cisco</a></li>
										<li><a href="/product/viewAll">LsVision</a></li>
										<li><a href="/product/viewAll">Ubiquiti</a></li>
										<li><a href="/product/viewAll">Engenius</a></li>
										<li><a href="/product/viewAll">Mikrotik</a></li>
										<li><a href="/product/viewAll">Others</a></li>
                                    </ul>
                                </li> 
								<!-- <li><a href="404.html">404</a></li> -->
								<li><a href="contact-us.html">Contact-Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header>
	
	<section id="advertisement">
		<div class="container">
			<img src="/images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#allProducts">
											<span class="badge pull-right"></span>
											ALL PRODUCTS
										</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#cctv">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											CCTV
										</a>
									</h4>
								</div>
								<div id="cctv" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="/product/cctv"><b>IP Cameras</b></a></li>
											<li><a href="/product/cctv"><b>HD Cameras</b></a></li>
											<li><a href="/product/cctv"><b> AHD Cameras</b></a></li>
											<li><a href="/product/cctv"><b>4 in 1 Cameras</b></a></li>
											<li><a href="/product/cctv"><b>NVR (4/8/16/32/64)</b></a></li>
											<li><a href="/product/cctv"><b> DVR (4/8/16/32)</b> </a></li>
											<li><a href="/product/cctv"><b>POE Swithes</b></a></li>
											<li><a href="/product/cctv"><b>Assessories</b></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"></span>
											FIBER OPTICS
										</a>
									</h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"></span>
											STRUCTURED CABLING
										</a>
									</h4>
								</div>
							</div> 
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">POWER CONDITIONERS</a></h4> 
						        </div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"> ACCESS CONTROL</a></h4>
						        </div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Others</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Cisco</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Ubiquiti</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Netgear</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>LsVision</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Mikrotik</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Engenius</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Others</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
										
						<div class="shipping text-center"><!--shipping-->
							<img src="/images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="category-tab"><!--features_items-->
						<h2 class="title text-center">our Items</h2>
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#allProducts" data-toggle="tab">All Products</a></li>
								<li><a href="#ipCamera" data-toggle="tab">IP/HD/AHD Camera</a></li>
								<li><a href="#4in1Camera" data-toggle="tab">4 in 1 Camera</a></li>
								<li><a href="#nvr" data-toggle="tab">NVR/DVR</a></li>
								<li><a href="#poeSwitch" data-toggle="tab">POE Switches</a></li>
								<li><a href="#assessories" data-toggle="tab">Assessories</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="allProducts" >

							<% _.each(product, function(product) { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
							<% }) %>
							</div>
								
							
							<div class="tab-pane fade" id="ipCamera" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Legal") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>
							
							<div class="tab-pane fade" id="hdCamera" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Human Resources") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>
							
							<div class="tab-pane fade" id="ahdCamera" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Accounting") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>

							<div class="tab-pane fade" id="4in1Camera" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Engineering") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>

							<div class="tab-pane fade" id="nvr" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Business Development") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>
							<div class="tab-pane fade" id="poeSwitch" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Support") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>

							<div class="tab-pane fade" id="assessories" >
							<% _.each(product, function(product) { %>
							<% if (product.brand=="Sales") { %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.imageName%>" alt="" />
												<h2>₦ <%= product.amount%></h2>
												
												<p><%= product.name%></p>
												<a href="/product/show/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-tags"></i><b>DETAILS</b></a>
											</div>
											
										</div>
									</div>
								</div>
								<% }%>
							<% }) %>
							</div>



							</div>

						
					<!-- </div>features_items -->
				</div><!--/category-tab-->

				<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>Biz-Ethics</span></h2>
							<p><strong>Your Home of Quality and Affordable Equipment</strong></p>
						</div>
					</div>
					<div class="col-sm-7">
						<!-- <div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div> -->
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p><strong>6,9 Mr. BizEtics street, ikeja, Lagos, Nigeria</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quick Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Cables</a></li>
								<li><a href="/product/cctv">CCTV Camera</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Telephony</a></li>
								<li><a href="#">Routers</a></li>
								<li><a href="#">Switches</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<!-- <li><a href="#">Ticket System</a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About BizEthics</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<!-- <li><a href="#">Careers</a></li> -->
								<li><a href="#">Store Location</a></li>
								<!-- <li><a href="#">Affillate Program</a></li> -->
								<!-- <li><a href="#">Copyright</a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About BizEthics</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be the first to know...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 Biz-Ethics LTD. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="#">BenNetworks Technologies</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

</body>
</html>


